<div class="col-md-8">
    <div class="row">
        <h1>Hi {{currentUser.firstName}}!</h1>
        <p *ngFor="let user of users">
            {{user.username}} ({{user.firstName}} {{user.lastName}}) -
            <a (click)="deleteUser(user.id)">Delete</a>
        </p>
        <a [routerLink]="['/login']" class="btn btn-success">Logout</a>
    </div>
</div>

<div class="col-md-4">
    <article>
        <ul class='chat-list'>
            <li *ngFor="let chat of messages">{{chat.msg}}</li>
        </ul>
    </article>
</div>